# Django
DEBUG=True
SECRET_KEY=replace-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@localhost:5432/deenflow_db

# OpenAI
OPENAI_API_KEY=your_openai_api_key

# SimpleJWT
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=60
